<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Logs</title>

</head>
<body>
<div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Datum</td>
            <td>Student</td>
            <td>Log</td>

        </tr>
        <tr th:each="log : ${logs}">
            <td th:text="${log.datum}"></td>
            <td th:text="${log.handle}"></td>
            <td th:text="${log.aenderung}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>