<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Klausuranmeldung</title>

</head>
<body>
<div class="container">
    <h1>Anmeldung zu einer Klausur</h1>

    <div class="formular mt-3">

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="alert"><strong>Wenn die Klausur in der Auswahl noch nicht vorhanden ist, dann können Sie
                        sie hier anlegen: </strong></div>
                    <a href="/student/klausurErstellen">
                        <button class="btn btn-primary">Klausur erstellen</button>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <form name="klausur_anmelden" method="post" th:action="@{/student/klausuranmeldung}"><input type="hidden"
                                                                                                    name="_csrf"
                                                                                                    value="61870cb0-f6c3-4fde-9f69-0244d0576cf5"/>
            <select class="form-control" name="klausur" id="klausur-select">
                <option th:each=" k : ${klausuren}" th:text="${k.formatiert()}" th:value="${k.id()}"></option>
            </select>
            <table>
                <tr th:each="f : ${fehler}">
                    <td class="text-danger" th:text="${f}"></td>
                </tr>

            </table>
            <p class="p-3"><strong>
                Sie bestätigen hiermit, dass Sie für die oben ausgewählte
                Klausur angemeldet sind.
            </strong>
                <br> Bis zum Tag vor der Klausur können Sie Ihre Teilnahme selber hier stornieren. Sollten Sie sich
                am Klausurtag entscheiden doch nicht mitzuschreiben, müssen Sie am Morgen der
                zuständigen Tutor:in Bescheid geben und das zusätzlich
                in einer Mail an <a href="mailto:propra@cs.hhu.de">propra@cs.hhu.de</a> mitteilen.
                <strong>Natürlich müssen Sie dann auch am Praktikum teilnehmen.</strong> <br>
                Ggf. überprüfen wir die Teilnahme an der Klausur über die entsprechenden Teilnehmerlisten
            </p>
            <div th:if="${keinKlausuren}" class="text-danger">Es gibt noch kein Klausuren</div>
            <button name="klausuranmeldung_abschicken" type="submit" class="btn btn-info btn-lg btn-block"
                    th:disabled="${keinKlausuren}">Klausur anmelden
            </button>
        </form>
    </div>

</div>
</body>
</html>
