<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Klausurerstellung</title>

</head>
<body>
<div class="container">

    <h1>Neue Klausur eintragen</h1>

    <form name="klausurform" method="post" th:action="@{/student/klausurErstellen}" th:object="${klausur}"><input
            type="hidden" name="_csrf" value="61870cb0-f6c3-4fde-9f69-0244d0576cf5"/>

        <div class="form-floating mb-3">
            <label for="veranstaltung">Name der Veranstaltung</label>
            <input type="text" class="form-control" th:field="*{name}" id="veranstaltung" placeholder=" ">
            <div class="text-danger" th:if="${#fields.hasErrors()}">Name darf nicht leer sein</div>
        </div>


        <div class="form-floating mb-3">
            <label for="lsfId" class="form-label">ID der Veranstaltung im LSF</label>
            <input type="text" class="form-control" th:field="*{lsf}" id="lsfId" placeholder=" ">

            <div class="form-text">Sie finden die LSF Veranstaltungs-ID im <a
                    href="https://lsf.hhu.de/qisserver/rds?state=wtree&search=1&category=veranstaltung.browse&navigationPosition=lectures%2Clectureindex&breadcrumb=lectureindex&topitem=lectures&subitem=lectureindex"
                    target="_blank">LSF</a>.
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" th:field="*{online}" id="online" name="vor_ort" value="true"
                   checked="checked"><input type="hidden" name="_vor_ort" value="on"/>
            <label class="form-check-label" for="online">
                Die Klausur findet Online statt.
            </label>
        </div>

        <div class="form-floating mb-3">
            <label for="tag" class="form-label">Datum der Klausur (dd-mm-yyyy)</label>
            <input class="form-control" th:field="*{datum}" id="tag" type="date"
                   placeholder=" " name="datum">
            <div class="text-danger" th:if="${#fields.hasErrors()}">Datum darf nicht leer sein</div>
        </div>

        <div class="form-floating mb-3">
            <label for="von">Klausurbeginn (hh:mm)</label>
            <input class="form-control" th:field="*{startzeit}" id="von" placeholder=" " name="von" type="time">
            <div class="form-text">Runden Sie die Startzeit auf die nächste volle Viertelstunde ab.
            </div>
            <div class="text-danger" th:if="${#fields.hasErrors()}">Startzeit darf nicht leer sein</div>
        </div>

        <div class="form-floating mb-3">
            <label for="bis" class="form-label">Klausurende (hh:mm)</label>
            <input class="form-control" th:field="*{endzeit}" id="bis" placeholder=" " name="bis" type="time">
            <div class="form-text">Runden Sie die Zeit auf die nächste volle Viertelstunge auf.
            </div>
            <div class="text-danger" th:if="${#fields.hasErrors()}">Endzeit darf nicht leer sein</div>

        </div>

        <button name="submitbtn" class="btn btn-info btn-lg btn-block" type="submit">Klausur erstellen</button>
    </form>

    <table>
        <tr th:each="f : ${fehler}">
            <td class="text-danger" th:text="${f}"></td>
        </tr>
    </table>


</div>
</body>
</html>
