<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>PP2 Urlaub Übersicht</title>

</head>
<body>
<div class="container">
    <h1>Urlaub anmelden</h1>

    <div class="formular mt-3" >
        <form type="time" name="urlaub_anmelden" class="mt-3" method="post" th:action="@{/student/urlaubanmeldung}" th:object="${urlaub}">
            <div class="form-floating mb-3">
                <label for="tag" class="form-label">Datum (dd.mm.yyyy)</label>
                <input th:field="*{datum}" type="date" class="form-control" id="tag"
                       placeholder=" " name="datum" value="">
                <div class="text-danger" th:if="${#fields.hasErrors()}">Datum darf nicht leer sein</div>


            </div>

            <div class="form-floating mb-3">
                <label for="von">Start (hh:mm)</label>
                <input th:field="*{startzeit}" type="time" class="form-control" id="von" placeholder=" " name="von" value="">
                <div class="text-danger" th:if="${#fields.hasErrors()}">Startzeit darf nicht leer sein</div>
                <div class="form-text">Tragen Sie hier die Uhrzeit ein, wann Sie Ihren Urlaub beginnen wollen.</a>
                </div>

            </div>
            <div class="form-floating mb-3">
                <label for="bis" class="form-label">Ende (hh:mm)</label>
                <input th:field="*{endzeit}" type="time" class="form-control" id="bis" placeholder=" " name="bis" value="">
                <div class="text-danger" th:if="${#fields.hasErrors()}">Endzeit darf nicht leer sein</div>
            </div>

    <button name="urlaubsanmeldung_abschicken" class="btn btn-info btn-lg btn-block" type="submit">Eintragen</button>
    </form>
        <table>
            <tr th:each="fehler : ${falscherUrlaub}">
                <td class="text-danger" th:text="${fehler}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>